/* media-queries.css */

/* Styles for devices with a max-width of 768px */
@media (max-width: 768px) {
    .weather h1 {
        font-size: 60px;
    }
    
    .weather h2 {
        font-size: 30px;
    }
    
    .weather-icon {
        width: 120px;
    }

    .details {
        flex-direction: column;
        gap: 20px;
    }
    
    .col img {
        width: 30px;
    }
}

/* Styles for devices with a max-width of 480px */
@media (max-width: 480px) {
    .weather h1 {
        font-size: 40px;
    }

    .weather h2 {
        font-size: 24px;
    }

    .search input {
        font-size: 16px;
        padding: 8px 20px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather-icon {
        width: 100px;
    }

    .col img {
        width: 25px;
    }

    .humidity, .wind {
        font-size: 22px;
    }
}
