:root{
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --aqi-1: hsl(62, 64%, 57%);
    --aqi-2:#D4D84e;
    --aqi-3:hsl(49, 100%, 44%);
    --aqi-4:rgba(210, 70, 0, 0.933);
    --aqi-5:#ce4112;
    




}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: #ffffff ;
    font-family: sans-serif;
    padding: 0 15px;
    
}
.header{
    
    position: sticky;
    top: 0;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: space-between;
    align-content: baseline;

    margin-bottom: 10px;
    padding: 15px 0  ;
    & #city_input{
        background-color: var(--bg-color2);
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color: #fff;
        &:focus{
            outline: none;
        }

    }
    
}
    
   & #searchBtn{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: #fff;
        cursor: pointer;




    }
    & #locationBtn{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: rgb(208, 101, 43);
        cursor: pointer;
    }


.card{
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius:15px ;
    margin-bottom: 15px;
    & p{
        font-size: 14px;
        color: gray;
    }

    
    & h2{
        font-size: 32px;
        font-weight: 500;

    }

}
.weather-data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12 px;
    & .weather-left{
        grid-column: span 1;
        & .current-weather {
           
            justify-content: space-between;
            align-items: center;
            & h2{
                margin: 7px 0;
            }
            & p{
                color: #fff;
            }

        
        }

    & .card-footer p{
        font-size: 14px;
        margin-bottom: 12px ;
        
    }
    & .forecast-item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        margin-bottom: 15px;
        & .icon-wrapper{
            display: flex;
            align-items: center;

        }
    }

    }
    & .weather-right{
        grid-column: span 3;
        margin-left: 10px;
        & h2 { 
            margin-bottom: 10px;

        }
    & .highlights{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 15px;
        & .card-head{
            display: flex;
            justify-content: center;
            margin-bottom : 10px ;
            & .air-index{
                color: black;
                padding: 5px 10px;
                border-radius: 15px;
                background-color: var(--aqi-1);
                margin-left: 30px;
                margin-top: 5px;
                & .aqi-1{
                    background-color: var(--aqi-1);
                
                }
                & .aqi-2{
                    background-color: var(--aqi-2);
                
                }   
                & .aqi-3{
                    background-color: var(--aqi-3);
                
                }
                & .aqi-4{
                    background-color: var(--aqi-4);
                
                }
                & .aqi-5{
                    background-color: var(--aqi-5);
                
                
                }



            }
        }
    & .air-indices{
        display: grid;
        width: max-content;
        grid-template-columns: repeat(4,1fr);
        place-items: center;
        gap: 20px;
        & p{
            text-align: center;
        }
    }
    & .card{
        display: grid;
        
       
    }

    }

    }

    
}